<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Practica 01</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Un Estado</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th>Costas</th>
                    <th>Capital</th>
                    <th>Moneda</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estado: ${estados}">
                    <td> th</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <p>Nombre: <span th:text="${estado.nombre}"</p>
        <p>Poblacion: <span th:text="${estado.poblacion}"</p>
        <p>Costas: <span th:text="${estado.costas}"</p>
        <p>Capital: <span th:text="${estado.capital}"</p>
        <p>Moneda: <span th:text="${estado.moneda}"</p>
    </body>
</html>
